.App {
  text-align: center;
}

.App-header {
  background-color: #3a3b3c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;
}

.App-link {
  color: #6c4c94;
}

.Nav_link {
  background-color: rgb(116, 116, 116);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.Nav_link:hover {
  background-color: rgb(172, 170, 170);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}