.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 'header' 'nav' 'main'
}

.App-header {
  border: black 1px solid;
  background-color: #3a3b3c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;
  grid-area: header;
}

.App-link {
  color: #6c4c94;
}
.Nav {
  grid-area: nav;
}

.Nav_link {
  background-color: rgb(116, 116, 116);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.Nav_link:hover {
  background-color: rgb(172, 170, 170);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.Avatar {
  border: 2px solid black;
  border-radius: 50%;
  padding: 3px;
  width: 100px;
  height: 100px;
}

.Reviews {
  grid-area: main;
}

.ReviewImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.ReviewCard {
  border: 2px solid black;
  max-width: 40%;
  min-width: 300px;
  max-height: 400px;
  padding: 10px;
  display: grid center;
  margin: 10px;
  
}

.Categories_link {
  text-decoration: none;
  color: black;
  font-size: 14px;
}