body {
  margin: auto;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 'header' 'nav' 'main';
  margin-bottom: 40px;
}

.App-header {
  background-color: #3a3b3c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  grid-area: header;
}

.App-link {
  color: #471472;
}

#errorPage {
  padding: 70px 70px 20px 70px;
}

.Home {
  margin-top: 70px;
}

.UserSelector {
 color: rgb(125, 125, 125);
 font-style: italic;
 font-family: 'Roboto', sans-serif;
}

.Nav {
  grid-area: nav;
}

.Nav_link {
  background-color: rgb(116, 116, 116);
  border-radius: 10px;
  padding: 5px;
  margin: 20px 10px 20px 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13.5px;
}

.Nav_link:hover {
  background-color: rgb(172, 170, 170);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.UserProfile {
  margin-top: 70px;
}

.Avatar {
  border: 2px solid silver;
  border-radius: 50%;
  padding: 3px;
  width: 100px;
  height: 100px;
}

.Reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.ReviewImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ReviewCard {
  border: 1px solid silver;
  border-radius: 3px;
  width: 250px;
  height: 240px;
  padding: 15px;
  background-color: whitesmoke;
  position: center;
  margin: 2%;
  word-wrap: break-word;
}

.ReadMore {
  text-decoration: none;
  color: #471472;
  font-weight: bold;
}

li {
  list-style-type: none;
  line-height: 1.8;
  font-size: 14px
}

.Categories {
  text-align: auto;
  margin: 70px 30px 30px 30px;
}

.Categories_link {
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 12.5px;
  line-height: 1.5;
  padding: 12px;
  text-transform:uppercase;
}

.Categories_link:hover, .Categories_link.active {
  text-decoration: none;
  color:rgb(31, 31, 31);
  font-size: 12.5px;
}

.sortBy {
  font-size: 12.5px;
}

.Sort_link {
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 12.5px;
  line-height: 1.5;
  padding: 12px;
  text-transform:uppercase;
}

.Sort_link:hover, .Sort_link.active {
  text-decoration: none;
  color:rgb(31, 31, 31);
  font-size: 12.5px;
  font-weight: 410;
}

.Order_link {
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 12.5px;
  line-height: 1.5;
  padding: 12px;
  text-transform:uppercase;
}

.Order_link:hover, .Order_link.active {
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-size: 12.5px;
  font-weight: 410;
}

.SingleReview {
  display: flex;
  padding: 60px 10px 10px 10px;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  font-size: 14px;
}

#reviewTitle {
  font-size: 16px;
}

#cantVoteMsg {
  font-size: 12px;
  font-style: italic;
  color: rgb(128, 128, 128);
}

.CommentCard {
  border: 1px solid silver;
  background-color: whitesmoke;
  margin-bottom: 3px;
  border-radius: 3px;
  text-align: left;
  padding: 0 20px 0 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: silver;
  color: black;
  border: none;
  padding: 6px;
  border-radius: 10px;
  margin: 5px;
}

button:hover {
  background-color: rgb(220, 218, 218);
  color: black;
  border: none;
  padding: 6px;
  border-radius: 10px;
}

.CommentAdder {
  border: 1px solid silver;
  background-color: whitesmoke;
  margin-bottom: 3px;
  border-radius: 3px;
  max-width: 900px;
  height: 130px;
  margin: auto;
  text-align: left;
  padding: 0 20px 0 20px;
}

textarea {
  width: 60%;
  height: 50%;
  margin: 10px 0 0 0;
  text-align: left;
  border-color: silver;
  border-radius: 2px;
  padding: 5px 0 0 5px;
}