.App {
  text-align: center;
}

.App-header {
  background-color: #3a3b3c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6c4c94;
}